XPS/
.metadata/
*bsp*/
XPS_hw_platform/
SpaceInvadersHW/
SpaceInvaderTestHW2_hw_platform/
Debug/
.*project
lscript.ld
*.wav
*.asv
SpaceInvaderXPS_HW2*/*
!SpaceInvaderXPS_HW2/pcores/
SpaceInvaderXPS_HW2/pcores/*
!SpaceInvaderXPS_HW2/pcores/pit_v1_00_a/
SpaceInvaderXPS_HW2/pcores/pit_v1_00_a/*
!SpaceInvaderXPS_HW2/pcores/pit_v1_00_a/hdl/
!SpaceInvaderXPS_HW2/pcores/pit_v1_00_a/data/
SpaceInvaderXPS_HW2/pcores/pit_v1_00_a/data/*
!SpaceInvaderXPS_HW2/pcores/pit_v1_00_a/data/*.mpd
SpaceInvaderXPS_HW2_hw_platform/





